body { font-family: Arial;
background-color: #ded56d;
    margin: 0;
    padding: 0;
 }

.main-image {
     width: 300px;
     height: 200px;
     margin-bottom: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

header {
    margin-bottom: 30px;
}

.season { margin-bottom: 20px; 
background-color: #f5f5f5;   /* light background */
    padding: 15px;               /* space inside the box */
    margin-bottom: 20px;         /* space between cards */
    border-radius: 10px;         /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* soft shadow */
}

.season:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

h1 {
    color: rgb(59, 22, 206);
    font-family: Arial, sans-serif;
}

button {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(59, 22, 206);
    color: white;
}
